.footer{

    padding: 22px 25px 22px 25px;
    background-color: $black;
    color: $white;

    h2{
        font-size: $size18;
        font-weight: $font-9;
        margin-bottom: 16px;
        font-family: 'Shrikhand', cursive;
        font-style: italic;
        

      }
      &__li{
        margin-bottom: 7px;
        
      }
}