.header{
    height: 63px;
    @include heading-shadow;
    @include flex(center, nowrap, row, center);
    position: relative;
      
      &__nav{
        position: absolute;
        left: 23px;
        font-size: $size19;
      }
}