@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes content-appear {
  0% {
    z-index: 0;
  }
  100% {
    z-index: 10000;
  }
}
@keyframes animate {
  0% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(5px);
  }
}
@keyframes check {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes plate-appear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
#bloc_page {
  position: relative;
  animation: content-appear 2s ease-in-out both;
}

.wrapper {
  display: flex;
  column-gap: 10px;
  height: 100%;
  width: 100%;
  position: fixed;
  align-items: center;
  justify-content: center;
  background-color: #FFF;
  z-index: 9999;
  animation: fadeOut 2s normal forwards ease-in-out;
}
.wrapper .dot {
  border-radius: 50%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  animation: animate 500ms ease-in-out infinite alternate;
}
.wrapper .dot:nth-child(1) {
  animation-delay: -0.25s;
  height: 20px;
  width: 20px;
  background: #9356DC;
}
.wrapper .dot:nth-child(2) {
  background: #FF79DA;
  animation-delay: -0.5s;
  height: 20px;
  width: 20px;
}
.wrapper .dot:nth-child(3) {
  background: #99E2D0;
  animation-delay: -0.75s;
  height: 20px;
  width: 20px;
}

.btn_save {
  cursor: pointer;
  font-size: 21px;
  font-weight: 300;
  margin-right: 10px;
  border: 0;
  background-color: #F6F6F6;
}
.btn_save i {
  font-size: 21px;
}
.btn_save i:hover {
  font-weight: 700;
  background-image: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  -moz-background-clip: text;
  transition: all 700ms ease-in-out;
}

.plats__check {
  background-color: #99E2D0;
  color: #FFF;
  width: 59px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  margin: -12px -72px -12px 14px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  transition: margin-right 600ms ease;
}

html,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style-type: none;
  text-decoration: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Roboto", sans-serif;
  vertical-align: baseline;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #000;
  font-weight: 500;
  margin: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

.header {
  height: 63px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  position: relative;
}
.header__nav {
  position: absolute;
  left: 23px;
  font-size: 19px;
}

.btn {
  height: 50px;
  width: 218px;
  border-radius: 25px;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  flex-wrap: none;
  flex-direction: row;
  justify-content: center;
  color: #FFF;
  font-weight: 500;
}
.btn:hover {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
}

.card {
  margin-bottom: 18px;
  height: 251px;
  position: relative;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}
@keyframes save {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.card__image {
  height: 173px;
  width: 100%;
  object-fit: cover;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
.card__body {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  padding: 14px;
}
.card__body h3 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 5px;
}
.card__body h4 {
  font-size: 17px;
  font-weight: 300;
}
.card__description {
  width: 100%;
}
.card__new {
  position: absolute;
  color: #008766;
  background-color: #99E2D0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  padding: 6px 8px 6px 8px;
  font-size: 14px;
  border-radius: 2px;
  right: 27px;
  margin-top: 15px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}
@media screen and (min-width: 768px) {
  .card {
    width: 47%;
    margin-bottom: 28px;
  }
}
@media screen and (min-width: 1024px) {
  .card {
    width: 47%;
    margin-bottom: 37px;
  }
}
@media screen and (min-width: 1440px) {
  .card {
    width: 47%;
    margin-bottom: 50px;
  }
}

.menu__order {
  display: flex;
  align-items: center;
  flex-wrap: none;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 5px;
}

.footer {
  padding: 22px 25px 22px 25px;
  background-color: #353535;
  color: #FFF;
}
.footer h2 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 16px;
  font-family: "Shrikhand", cursive;
  font-style: italic;
}
.footer__li {
  margin-bottom: 7px;
}
.footer__li i {
  font-size: 14px;
  min-width: 20px;
}
@media screen and (min-width: 1024px) {
  .footer {
    padding: 64px 25px 30px 150px;
    display: flex;
    flex-direction: row-reverse;
  }
  .footer h2 {
    margin: 0px 35px 5px 50px;
  }
  .footer ul {
    display: flex;
    align-items: center;
    flex-wrap: none;
    flex-direction: row;
    justify-content: space-between;
  }
  .footer__li {
    margin-right: 33px;
  }
}

.reservez {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  background-color: #F6F6F6;
  padding-bottom: 57px;
  text-align: center;
}
.reservez__location {
  background-color: #EAEAEA;
  width: 100%;
  margin-bottom: 39px;
  height: 50px;
  font-weight: 600;
  font-style: normal;
  display: flex;
  align-items: center;
  flex-wrap: none;
  flex-direction: row;
  justify-content: center;
}
.reservez__location i {
  margin-right: 17px;
}
.reservez h1 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}
.reservez__p {
  font-size: 18px;
  font-weight: 200;
  margin-bottom: 27px;
}

.fonctionnement {
  padding: 50px 20px;
}
.fonctionnement h2 {
  margin-bottom: 26px;
  font-weight: 700;
  font-size: 24px;
}
.fonctionnement .lifonct {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  height: 72.38px;
  background-color: #F6F6F6;
  margin: 0px 0px 20px 10px;
  display: flex;
  align-items: center;
  flex-wrap: none;
  flex-direction: row;
  justify-content: flex-start;
  border-radius: 20px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
}
.fonctionnement .lifonct__number {
  position: absolute;
  margin-left: -15px;
  border-radius: 50%;
  background-color: #9356DC;
  height: 20px;
  width: 20px;
  color: #FFF;
  display: flex;
  align-items: center;
  flex-wrap: none;
  flex-direction: row;
  justify-content: center;
  font-size: 14px;
}
.fonctionnement .lifonct__icon {
  margin: 0px 27px 0px 21px;
}
.fonctionnement .lifonct__i-color {
  color: #9356DC;
}
.fonctionnement .lifonct h3 {
  font-weight: 500;
  font-size: 16px;
}
@media screen and (min-width: 768px) {
  .fonctionnement {
    padding: 50px 70px;
  }
}
@media screen and (min-width: 1024px) {
  .fonctionnement {
    padding: 50px;
  }
  .fonctionnement__list {
    display: flex;
    align-items: center;
    flex-wrap: none;
    flex-direction: row;
    justify-content: space-between;
  }
  .fonctionnement__list h3 {
    margin-right: 35px;
  }
}
@media screen and (min-width: 1440px) {
  .fonctionnement {
    padding: 50px 180px;
  }
  .fonctionnement h3 {
    margin-right: 55px;
  }
}
@media screen and (min-width: 1445px) {
  .fonctionnement {
    padding: 50px 180px;
  }
  .fonctionnement h3 {
    margin-right: 105px;
  }
}

.restaurant_card {
  padding: 50px 15px;
  background-color: #F6F6F6;
}
.restaurant_card h2 {
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 24px;
}
@media screen and (min-width: 768px) {
  .restaurant_card__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media screen and (min-width: 768px) {
  .restaurant_card__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media screen and (min-width: 768px) and (min-width: 768px) {
  .restaurant_card {
    padding: 50px 30px;
  }
}
@media screen and (min-width: 1024px) {
  .restaurant_card {
    padding: 50px;
  }
}
@media screen and (min-width: 1440px) {
  .restaurant_card {
    padding: 50px 180px;
  }
  .restaurant_card h2 {
    margin-bottom: 30px;
  }
}

.menu__image {
  object-fit: cover;
  width: 100%;
  height: 275px;
  z-index: 1;
  position: relative;
}
.menu__bloc {
  z-index: 2;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  margin-top: -60px;
  background-color: #F6F6F6;
  position: relative;
  padding: 35px 13px;
}
.menu__header {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 40px;
}
.menu__header h1 {
  font-family: "Shrikhand", cursive;
  font-size: 28px;
  margin-right: 25px;
}
.menu__header i {
  font-size: 24px;
  margin-right: 18px;
}
@media screen and (min-width: 768px) {
  .menu__bloc {
    padding: 50px 90px;
  }
  .menu__header {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
  }
}
@media screen and (min-width: 1440px) {
  .menu__bloc {
    padding: 50px 210px;
    margin-right: 190px;
    margin-left: 190px;
  }
}

.plats {
  margin-bottom: 40px;
  animation: plate-appear 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.plats h2 {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 7px;
  text-transform: uppercase;
}
.plats .border-title {
  background-color: #99E2D0;
  height: 3px;
  width: 40px;
  margin-bottom: 13px;
}
.plats__card {
  padding: 12px 13px;
  background-color: #FFF;
  margin-bottom: 12px;
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: none;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  animation: check 600ms cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  transform: scale(0);
  overflow: hidden;
  cursor: pointer;
}
.plats__card:hover .plats__check {
  margin-right: -13px;
}
.plats__card h3 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.plats__card h4 {
  font-size: 15px;
  font-weight: 300;
  overflow: hidden;
  text-overflow: ellipsis;
}
.plats__card .prix {
  right: 5px;
  margin-top: 20px;
}
.plats__name {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
}
.plats--1 {
  animation-delay: 1s;
}
.plats--2 {
  animation-delay: 2s;
}
.plats--3 {
  animation-delay: 3s;
}
.plats--4 {
  animation-delay: 4s;
}
.plats--5 {
  animation-delay: 5s;
}
.plats--6 {
  animation-delay: 6s;
}
.plats--7 {
  animation-delay: 7s;
}
.plats--8 {
  animation-delay: 8s;
}
.plats--9 {
  animation-delay: 9s;
}
.plats--10 {
  animation-delay: 10s;
}

/*# sourceMappingURL=style.css.map */
