$color-primaire : #9356DC;
$color-secondaire : #FF79DA ;
$color-tertiaire : #99E2D0 ;
$color-font : #008766;



$linear-gradient:linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
$grey-medium: #EAEAEA;
$grey: #7E7E7E;
$white: #FFF;
$black: #353535;
$grey-light: #F6F6F6;

$size12: 12px;
$size13: 13px;
$size14: 14px;
$size16: 16px;
$size15: 15px;
$size17: 17px;
$size18: 18px;
$size19: 19px;
$size21: 21px;
$size24: 24px;
$size28: 28px;

$font-2: 200;
$font-3: 300;
$font-4: 400;
$font-5: 500;
$font-6: 600;
$font-7: 700;
$font-9: 900;


$num-plates: 10;
$anim-dur: 2s;
$anim-delay: 1s;