.btn_save{
    cursor: pointer;
    font-size: $size21;
    font-weight: $font-3;
    margin-right: 10px;
   

     i:hover{
     background-image: $linear-gradient;
     animation: save 700ms ease-in-out both;
     border-radius: 50%;
     @keyframes save {
        0% {
            opacity: .5;
        }
        100% {
            opacity: 1;
        }
    }

    }

}

.plats__check{

    background-color: $color-tertiaire;
    color: $white;
    width: 59px;
    @include flex(center, nowrap, row, center);
    margin: -12px -72px -12px 14px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    transition: margin-right 600ms ease;

}