.btn_save{
    cursor: pointer;
    font-size: $size21;
    font-weight: $font-3;
    margin-right: 10px;

     i:active{
     background-image: $linear-gradient;
     

    }

}

.plats__check{

    background-color: $color-tertiaire;
    color: $white;
    width: 59px;
    @include flex(center, nowrap, row, center);
    margin: -12px -72px -12px 16px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    transition: margin-right 750ms ease;

}