                 
                 //  boutton explorer nos restaurants de la page d'accueil et le boutton commander dans les pages des menus
.btn{
    height: 50px;
    width: 218px;
    border-radius: 25px;
    background: $linear-gradient;
    @include card-liner-shadow;
    @include flex(center, nowrap, row, center);
    color: $white;
    font-weight: $font-5;
      
      &:hover{
       @include card-hover-shadow ;
       background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), 
       linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
      }
}
