#bloc_page{
    position: relative;
    animation: content-appear 2s ease-in-out both;
}
                            // Loader de la page d'accueil
.wrapper {
    display: flex;
    column-gap: 10px;
   
    height: 100%;
    width: 100%;
    position: fixed;
    align-items: center;
    justify-content: center;
    background-color: $white;
    z-index: 9999;
    animation: fadeOut 2s normal forwards ease-in-out;
    
                            //  Points en couleur du loader 
  .dot {
    
    border-radius: 50%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    animation: animate 500ms ease-in-out infinite alternate;
    
   
  }
  .dot:nth-child(1) {
    animation-delay: -0.25s;
    height: 20px;
    width: 20px;
    background: $color-primaire;
    
    
  }
  .dot:nth-child(2) {
    background: $color-secondaire;
    animation-delay: -0.5s;
    height: 20px;
    width: 20px;
    
    
  }
  .dot:nth-child(3) {
    background: $color-tertiaire;
    animation-delay: -0.75s;
    height: 20px;
    width: 20px;
    
  }
}
  
  
                      // animations du coeur (fa-heart) dans les artciles des restaurants en page d'accueil et en haut des pages menus
.btn_save{
    cursor: pointer;
    font-size: $size23;
    font-weight: $font-3;
    margin-right: 10px;
    border: 0;
    background-color: $grey-light;
    margin-right: 20px;
    margin-bottom: 24px;

    i {
      font-size: $size23;
        position: absolute;
        
        &:hover {
            font-weight: 700;
            background-image: $linear-gradient;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            transition: all 500ms ease-in-out;
            
        }
    }

}

                            // animation au survol des plats aux pages des menus 
.plats__check{

    background-color: $color-tertiaire;
    color: $white;
    width: 59px;
    @include flex(center, nowrap, row, center);
    margin: -12px -72px -12px 14px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    transition: margin-right 600ms ease;

}

      //  animation pour faire appraitre d'abord les entrées puis les plats et ensuite les desserts à l'arriver sur les pages de menus

.plats{
  margin-bottom: 40px;
  animation: plate-appear $anim-dur cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  @for $i from 1 through $num-plates {
    &--#{$i} {
      animation-delay: $anim-delay * $i;
    }
}
}
