#bloc_page{
    position: relative;
    animation: content-appear 2s ease-in-out both;
}
.wrapper {
    display: flex;
    column-gap: 10px;
   
    height: 100%;
    width: 100%;
    position: fixed;
    align-items: center;
    justify-content: center;
    background-color: $white;
    z-index: 9999;
    animation: fadeOut 2s normal forwards ease-in-out;
    
    
    
  
  .dot {
    
    border-radius: 50%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    animation: animate 500ms ease-in-out infinite alternate;
    
   
  }
  .dot:nth-child(1) {
    animation-delay: -0.25s;
    height: 20px;
    width: 20px;
    background: $color-primaire;
    
    
  }
  .dot:nth-child(2) {
    background: $color-secondaire;
    animation-delay: -0.5s;
    height: 20px;
    width: 20px;
    
    
  }
  .dot:nth-child(3) {
    background: $color-tertiaire;
    animation-delay: -0.75s;
    height: 20px;
    width: 20px;
    
  }
}
  
  

.btn_save{
    cursor: pointer;
    font-size: $size21;
    font-weight: $font-3;
    margin-right: 10px;
    border: 0;
    background-color: $grey-light;
    i {
        font-size: 21px;

        &:hover {
            font-weight: 700;
            background-image: $linear-gradient;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            -moz-text-fill-color: transparent;
            -moz-background-clip: text;
            transition: all 700ms ease-in-out;
        }
    }

}


.plats__check{

    background-color: $color-tertiaire;
    color: $white;
    width: 59px;
    @include flex(center, nowrap, row, center);
    margin: -12px -72px -12px 14px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    transition: margin-right 600ms ease;

}
