.reservez{
    
    width: 100%;
    @include flex(center, nowrap, column, center);
    background-color: $grey-light;
    padding-bottom: 57px;
    text-align: center;
   
    &__location{
        background-color: $grey-medium;
        width: 100%;
        margin-bottom: 39px;
        height: 50px;
        font-weight: $font-6;
        font-style: normal;
        @include flex(center, none, row, center);
        
        i{
            margin-right: 17px;
        }
    }
    h1{
        @include font-size-home;
        margin-bottom: 20px;
        
    }
    &__p{
        font-size: $size18;
        font-weight: $font-2;
        margin-bottom: 27px;
    }
}


.fonctionnement{

    
    padding: 50px 20px ;
   
     h2{
        margin-bottom: 26px;
        font-weight: $font-7;
        font-size: $size24;
        
     }
  
        .lifonct{
            @include fonctionnement-shadow;
           
            height: 72.38px;
            background-color:  $grey-light;
            margin: 0px 0px 20px 10px;
            @include flex(center, none, row, flex-start);
            border-radius: 20px;
            @include fonctionnement-shadow;
            
          
               &__number{
                position: absolute;
                margin-left: -15px;
                border-radius: 50%;
                background-color: $color-primaire;
                height: 20px;
                width: 20px;
                color: $white;
                @include flex(center, none, row, center);
                font-size: $size14;
               }
               &__icon{
                margin: 0px 27px 0px 21px;
               }
               &__i-color{
                color: $color-primaire;
               }
                h3{
                    font-weight: $font-7;
                }
           }
     
           @media screen and (min-width: 768px){
            
                padding: 50px 70px ;
           
           }
           @media screen and (min-width: 1024px){
             padding: 50px ;

              &__list{
                @include flex(center, none, row, space-between);
                h3{
                    margin-right: 35px;
                }
              }
           }
           @media screen and (min-width: 1440px){
            
            padding: 50px 180px ;
             
             h3{
                margin-right: 55px;
             }
       
       }

}
.restaurant_card{
    padding: 50px 15px ;
    background-color: $grey-light;
   

       h2{
        margin-bottom: 25px;
        font-weight: $font-7;
        font-size: $size24;
       }
       
        @media screen and (min-width: 768px){
            
            &__list{
            @include flex(center, wrap, row, space-between);
            
           
        }
       
       }
       @media screen and (min-width: 768px){
            
        &__list{
        @include flex(center, wrap, row, space-between);
        
       
    }
    @media screen and (min-width: 768px){
        padding: 50px 30px;
    }
   
   }
       @media screen and (min-width: 1024px){
           padding: 50px;

       }
       @media screen and (min-width: 1440px){
        padding: 50px 180px;
        h2{
            margin-bottom: 30px;
            
           }

    }
}