                 // Réservez le menu qui vou convient
.reservez{   
    
    width: 100%;
    @include flex(center, nowrap, column, center);
    background-color: $grey-light;
    padding-bottom: 57px;
    text-align: center;
   
    &__location{
        background-color: $grey-medium;
        width: 100%;
        margin-bottom: 39px;
        height: 50px;
        font-weight: $font-6;
        font-style: normal;
        @include flex(center, nowrap, row, center);
        
        i{
            margin-right: 17px;
        }
    }
    h1{
        @include font-size-home;
        margin-bottom: 20px;
        
    }
    &__p{
        font-size: $size18;
        font-weight: $font-2;
        margin-bottom: 27px;
    }
}

                    //  section fonctionnement avec les li : choisissez/composez/déguster
.fonctionnement{

    
    padding: 50px 20px ;
   
     h2{
        margin-bottom: 30px;
        font-weight: $font-7;
        font-size: $size24;
        
     }
  
        .lifonct{
            @include fonctionnement-shadow;
           width: 96%;
            height: 72.38px;
            background-color:  $grey-light;
            margin: 0px 0px 28px 10px;
            @include flex(center, nowrap, row, flex-start);
            border-radius: 20px;
            @include fonctionnement-shadow;
            
          
               &__number{
                position: absolute;
                margin-left: -15px;
                border-radius: 50%;
                background-color: $color-primaire;
                height: 22px;
                width: 22px;
                color: $white;
                @include flex(center, nowrap, row, center);
                font-size: $size14;
               }
               &__icon{
                margin: 0px 27px 0px 25px;
                font-size: $size18;
               }
            
               &:hover {
                .i-color{
                    color: $color-primaire;
            }
               
               }
                h3{
                    font-weight: $font-5;
                    font-size: $size16;
                }
               

           }
     
           @media screen and (min-width: 768px){
            &__list{
                @include flex(center, nowrap, row, space-between);
               h3{
                margin-right: 10px;
               }
              }
                padding: 50px 30px ;
            .lifonct{
                width: 30%;
            }
           
           }
           @media screen and (min-width: 1024px){
             padding: 50px ;

              &__list{
                @include flex(center, nowrap, row, space-between);
               
              }
           }
           @media screen and (min-width: 1440px){
            
            padding: 50px 180px ;
             
             
       
       }
       @media screen and (min-width: 1445px){
            
        padding: 50px 180px ;
         
        
   
   }

}
                                //    section restaurants avec les artciles des 4 restaurants différents
.restaurant_card{
    padding: 50px 15px ;
    background-color: $grey-light;
   

       h2{
        margin-bottom: 25px;
        font-weight: $font-7;
        font-size: $size24;
       }
       
        @media screen and (min-width: 768px){
            
            &__list{
            @include flex(center, wrap, row, space-between);
            
           
        }
       
       }
       @media screen and (min-width: 768px){
            
        &__list{
        @include flex(center, wrap, row, space-between);
        
       
    }
    @media screen and (min-width: 768px){
        padding: 50px 30px;
    }
   
   }
       @media screen and (min-width: 1024px){
           padding: 50px;

       }
       @media screen and (min-width: 1440px){
        padding: 50px 180px;
        h2{
            margin-bottom: 30px;
            
           }

    }
}